ATS.json
{
  "name": "ATS",
  "nodes": [
    {
      "parameters": {
        "formTitle": "JOB Application",
        "formDescription": "We'll get back to you soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "FullName",
              "requiredField": true
            },
            {
              "fieldLabel": "Gmail",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "LinkedIn"
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "acceptFileTypes": "PDF",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        -96
      ],
      "id": "6c82834a-9fdd-4e2a-b8cb-f4163443bd5e",
      "name": "On form submission",
      "webhookId": "d6e5815c-3233-4d32-8e0d-df8e34667317"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        -96
      ],
      "id": "9d068a93-2bf3-4dbf-91e1-d98505702d3a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        456,
        128
      ],
      "id": "aa64914f-6b8a-405e-b0a4-d6087af85655",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "O9W5TwMKE1V7G0Jp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rule 1: Do not exceed maximum of 75 words. As an AI\n\nwith advanced capabilities in talent acquisition, analyze a candidate's resume against a job description. Output must be in ${output_language). Structure: 1. Compatibility Rating: Score 1-10 with rationale. 2. ATS Score: Realistic number out of 100 such as 43, 76, 89, reflecting keyword and skills alignment. 3. Recommendation: Advise if candidate should be interviewed with reasoning. Job description: \"Software Engineer\" at Atomise Al Resume: {resume}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        -96
      ],
      "id": "5aba282b-c2c0-4c89-be7f-d6e030e11664",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n\"ats_score\": 82,\n\n\"summary\": \"Your resume is well-structured and highlights relevant experience, but could use more targeted keywords to improve ATS compatibility.\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        584,
        128
      ],
      "id": "ac3f7ea8-ad5b-4686-a1e5-41af0283f917",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60eee8a9-e1ce-4f16-b5c2-885abc5fbca4",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -96
      ],
      "id": "b792b36a-2ba0-4046-95b5-38adc4bc2393",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mERHbMbwIU7c89kFzK6uRaCwD8vcxeneh9gtsghLJ38",
          "mode": "list",
          "cachedResultName": "ATSspreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mERHbMbwIU7c89kFzK6uRaCwD8vcxeneh9gtsghLJ38/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mERHbMbwIU7c89kFzK6uRaCwD8vcxeneh9gtsghLJ38/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FullName": "={{ $('On form submission').item.json.FullName }}",
            "EMAIL": "={{ $('On form submission').item.json.Gmail }}",
            "CV": "={{ $('On form submission').item.json.Resume }}",
            "LINKED IN": "={{ $('On form submission').item.json.LinkedIn }}",
            "AI Score & Summary": "={{ $json.output.ats_score }}        {{ $json.output.summary }}                                     "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FullName",
              "displayName": "FullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINKED IN",
              "displayName": "LINKED IN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Score & Summary",
              "displayName": "AI Score & Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        -96
      ],
      "id": "3391082d-b49d-488a-9b03-46e0735d1ec0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DdGfrszL7Miwejms",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chandrasekharchandana9@gmail.com",
        "subject": "New Candidate CV Awaiting Review",
        "message": "=Hello HR, A new CV has been successfully received in our system. Please review the candidate's details at your earliest convenience.  \nCandidate Name: {{ $json.FullName }}\nCandidate E-mail:{{ $json.EMAIL }} \nCandidate Linkedin:{{ $json['LINKED IN'] }}\nCandidate AI Rating:{{ $('If').item.json.output.summary }}   \nThank you for your attention. Best regards, Automated CV Screening",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        -96
      ],
      "id": "d5d1c8d7-fe23-4252-a427-4f4a31667b46",
      "name": "Send a message",
      "webhookId": "47b1d414-bd11-485c-b713-e152bad9bbc2",
      "credentials": {
        "gmailOAuth2": {
          "id": "B9vOmPwrkLrBh1Ad",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.EMAIL }}",
        "subject": "We have Recevied your CV",
        "message": "=Hello , We’ve received your CV for the this position. Our team will review your profile and contact you if shortlisted. \nBest regards,\nAI HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        -96
      ],
      "id": "d60fdbcb-31bb-4a5e-a869-78ef70f26891",
      "name": "Send a message1",
      "webhookId": "3fe665bd-7586-4d9d-ba77-9fcb94526570",
      "credentials": {
        "gmailOAuth2": {
          "id": "B9vOmPwrkLrBh1Ad",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f93668d-2cf1-4eab-92c2-1714f8bf6ad3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ff991cf53bd8dc4be58648cab7f8363e0d7975c2c170ad1a934665a7c618157"
  },
  "id": "pOTxp1SEBs5qZNaB",
  "tags": []
}